package view

import (
	"hybr/cmd/server/view/components"
	"hybr/internal/services"
)

var installedService []string = services.GetInstalledServices()

templ Index() {
	<div class="flex-1 p-8">
		<h2 class="text-4xl mb-6">Dashboard</h2>
		@components.Usages()
		@components.Info("Active Services", installedService)
	</div>
}
