package view

import (
	"hybr/cmd/server/view/components"
	"hybr/internal/services"
)

var installedService []string = services.GetInstalledServices()

templ Index() {
	<h1 class="text-3xl font-bold mb-8 text-gray-800">Hybr Dashboard</h1>
	@components.Usages()
}
